@charset "UTF-8";
:root{
	/* color */
	--primary: #246BEB;
    --green:#4CA951;
    --salmon:#F0877D;
    --violet:#7676ED;
    --primary--70:#16408D;
    --primary--60:#1D56BC;
    --gray--70:#555555;
    --gary--60:#717171;
    --gary--40:#C6C6C6;
    --gary--30:#D8D8D8;
    
}

/* ========================================================
 * 서브 페이지공통
======================================================== */
.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
.h-visual{
    margin:2.4rem 4rem 2.4rem 4rem;
    height:40rem;
    border-radius: 1.2rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, 
    rgba(0, 0, 0, 0.20) 100%), 
    url(../images/main-page/header-img.png) 
    lightgray 50% / cover no-repeat;
}

.h-visual-text-wrap{
    padding: 16rem 0  0rem 20rem;
}
.h-visual-text-wrap p, .h-visual-text-wrap h2{
    color: #fff;
}
.h-visual-text-wrap p{
    font-size:2.1rem;
    font-weight:700;
    margin-bottom:1.2rem;
}
.h-visual-text-wrap h2{
    font-size: 4rem;
    font-weight: 700;
}

.sub-content .container{
	margin: 8rem 0;
}
.sub-title-wrap{
	border-bottom: 1px solid #cecece;
	padding-bottom: 2.4rem;
	margin-bottom: 6rem;
	display: flex;
	justify-content: flex-start;
    flex-direction: column;
}
.breadcrumb-wrap {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
}
.breadcrumb-wrap .breadcrumb{
	display: flex;
	gap: .4rem;
	width: 100%;
    justify-content: flex-end;
    margin-bottom: 2.2rem;
}
.breadcrumb-wrap .breadcrumb .home{
	gap: 0;
}
.breadcrumb-wrap .breadcrumb li {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	font-size: 1.5rem;
}
.breadcrumb-wrap .breadcrumb .home::before {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	content: "";
	width: 2.4rem;
	height: 2.4rem;
	background: url(../images/edu/i_bread_home.png) no-repeat center;
}
.breadcrumb-wrap .breadcrumb li .txt {
	font-size: 1.5rem;
	color: #666;
}
.breadcrumb-wrap .breadcrumb li:not(:last-child)::after {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	content: "";
	width: 1.6rem;
	height: 1.6rem;
	margin-left: .4rem;
	background: url(../images/edu/i_bread_ar.png) no-repeat;
	background-size: contain;
}
.sub-name-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-title-wrap h4{
	font-size: 3.2rem;
	font-weight: 700;
}

.sub-title-wrap .sub-title-utill ul{
	display: flex;
	align-items: center;
	gap: .8rem;
}
.sub-title-wrap .sub-title-utill ul li{
	position: relative;
}
.sub-title-wrap .sub-title-utill ul li a{
	width: 4rem;
	height: 4rem;
	border: 1px solid #cecece;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sub-title-wrap .sub-title-utill ul li a:hover{
	background: #f4f5f6;
	transition: all .25s;
}


.main-content{
    margin:0 4rem 0 4rem;
    background-color: #fff;
    border-radius: 1.2rem;
    padding: 4rem  20rem 8rem 20rem;
}

.btn.primary {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: #fff;
}
.btn.primary:hover {
    background-color: var(--primary--60);
    border-color: var(--primary--60);
    transition: 0.4s ease-in-out;
}
.btn.primary:active{
    background-color: var(--primary--70);
    border-color: var(--primary--70);
}
/*헤더 - 메뉴*/
.gnb-menu-wrap-center{
    display: flex;
    align-items: center;
}
.gnb-menu-wrap-center .menu-wrap{
    display: flex;
    gap:10rem;
    font-size:1.9rem;
    font-weight:600;
}
.gnb-menu-wrap-center .menu-wrap li.btn:hover div{
    font-weight: 700;
    color:#1D56BC;

}
.gnb-menu-wrap-center .menu-wrap li.btn div{
    font-size: 1.9rem;

}

.gnb-menu-wrap-center .menu-wrap li.btn:active div{
    font-weight: 700;
    color: #246BEB;

}
.gnb-menu-wrap-center .menu-wrap li{
    position: relative;
}
.gnb-menu-wrap-center .menu-wrap li .gnb-2depth{
    /* display: none; */

}
.gnb-menu-wrap-center .menu-wrap li .gnb-2depth{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 199%;
    transition: 0.3s ease;
    text-align: center;
    width: 200%;
    border-radius: 0 0 .4rem .4rem;
}
.gnb-menu-wrap-center .menu-wrap li .gnb-2depth li{
    margin:2rem 0 2rem 0;
    font-weight: 500;
}

li.btn.active .gnb-2depth,
li.btn:hover .gnb-2depth {
  display: block;
  transition: .4s ease;
  background-color: #fff;
}

  .gnb-2depth {
    display: none;
  }
.gnb-menu-wrap-center .menu-wrap li .gnb-2depth li:hover a span{
    color:var(--primary);
    font-weight: 700;
}

header.active::before,
header:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 37rem;
  background-color:transparent;
  z-index: 0;
}
.haeder_logo{
    z-index: 2;
}
.mian_icon-wrap{
    z-index: 2;
}



/*info - noti */

.m-info-box{
    width:100%;
    background-color: #EdF1F5;
    border: 1px solid #e4e4e4;
    border-radius: 1.2rem;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 6rem;
    box-sizing: border-box;

}
.m-info-box .m-info-tit{
    display: flex;
    align-items: center;
    gap:.4rem;
    color:#002366;
    font-weight: 700;
    margin-bottom: 1.6rem;
}
.m-info-box .m-info-tit p{
    color:#002366;
    font-weight: 700;
}

.m-info-box .m-info-tit::before{
    content: "";
    width: 2rem;
    height: 2rem;
    background: url(../images/main-page/i_noti01.svg) no-repeat;

}
.m-info-box.m-info-01 .m-info-text{
    display: flex;
    gap:.4rem;
    align-items: center;
}
.m-info-box.m-info-01 .m-info-text::before{
    content: '';
    background: url(../images/main-page/i_noti01.svg) no-repeat;
    width: 2rem;
    height: 2rem;
}

.m-info-box.m-info-02{
    background-color: #f8f8f8;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    flex-direction:row;


}
.m-info-box.m-info-02 .m-info-text{
    display: flex;
    gap:.4rem;
    align-items: center;
}

.m-info-box.m-info-02 .m-info-text::before{
    content: '';
    background: url(../images/main-page/i_noti02.svg) no-repeat;
    width: 2rem;
    height: 2rem;
}

.m-info-box.m-info-03{
    background-color: #FEECF0;
    border:none;
    box-sizing: border-box;

}
.m-info-box.m-info-03 .m-info-text{
    display: flex;
    gap:2rem;
    align-items: center;
}

.m-info-box.m-info-02 .m-info-text span{
  font-weight: 700;

}

.m-info-box.m-info-03 .m-info-text::before{
    content: '';
    background: url(../images/main-page/i_noti03.svg) no-repeat;
    width: 2rem;
    height: 2rem;
}



/* ========================================================
 * 기관소개
======================================================== */
.intro-info-text-group{
    display: flex;
    gap:9.8rem;
}
.into-img-wrap{
    display: flex;
    flex-direction: column;
}
.into-img-wrap p{
    font-size:1.9rem;
}
.into-img-wrap strong{
    font-size:2.5rem;
    font-weight: 799;
}
.into-img-wrap img{
    width:44rem;
    height:auto;
    border-radius: 1.2rem;
    margin-bottom: 2.4rem;
}
.info-text-wrap{
    width:89.3rem;
}
.info-text-wrap h5{
    font-size:3.2rem;
    font-weight: 700;
    line-height:4.4rem;
    margin:2.4rem 0 3.2rem 0;

}
.info-text-wrap p{
    font-size: 1.9rem;
    line-height: 3.2rem;
}
.btn.gray-bg{
    background-color: #c6c6c6;
    border: none;
    color: #fff;
  }
.btn.gray-bg:hover{
    background-color:#8E8E8E;
    transition: 0.2s ease-in-out;
}
/* ========================================================
 * 미션과 비전
======================================================== */
.v_tit_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.v_sub_tit_line{
    content:'';
    width: 3rem;
    height:0.3rem;
    background: #1D56BC;
}
.v_sub_tit{
    color:#555;
    font-size:2.5rem;
    font-weight: 700;
    margin-top:1.6rem;
    margin-bottom:4rem;
}
.v_tit_wrap p{
    color: #222;
    text-align: center;
    font-size:3rem;
    font-weight: 700;
    margin-bottom: 6rem;
}
.v_tit_wrap p::before{
    content:'';
    background-image: url(../images/main-page/i_mark01.svg);
    background-repeat: no-repeat;
    width: 2.4rem;
    height: 2rem;
    position: absolute;
    left: 15%;
    top: 57%; 
    transform: translateY(-50%);
}
.v_tit_wrap p::after{
    content:'';
    background-image: url(../images/main-page/i_mark02.svg);
    background-repeat: no-repeat;
    width: 2.4rem;
    height: 2rem;
    position: absolute;
    right: 15%;
    top: 70%; 
    transform: translateY(-50%);
}

.v_tit_wrap .text-highlight{
    color:var(--primary);
    text-align: center;
    font-size:3rem;
    font-weight: 700;
}



.vision02--wrap{
    position: relative;
}
.value_b_tit{
    display: flex;
    padding:2.4rem 12.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.2rem;
    border: 6px solid #D8D8D8;
    background-color: #fff;
    place-self: center;
    font-size: 2.5rem;
    font-weight: 700;
    position: relative;
    z-index: 2;
    width:16rem;
}
.vision_value_line{
    width: 119.4rem;
    height: 16rem;
    border-radius: 10rem;
    border:6px solid #D8D8D8;
    position: absolute;
    top:15%;
    left: 50%;
    transform: translateX(-50%);
}
.v_icon_wrap{
    display: flex;
    flex-flow: row;
    justify-content:center;
    margin-top:6.4rem;
    margin-bottom: 6rem;
    gap:11.1rem;
}
.v_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    gap:1.6rem;
}
.vision02--wrap .dot {
    width: 2.4rem;
    height: 2.4rem;
    background-color: #D9D9D9;
    border-radius: 50%;
    margin-top: 5rem;
}

.v_icon-bg{
    width: 12rem;
    height:12rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.v_icon:nth-child(1) .v_icon-bg{
    background-color: var(--green);
    border-radius: 10rem;
}
.v_icon:nth-child(3) .v_icon-bg{
    background-color: var(--salmon);
    border-radius: 10rem;
}
.v_icon:nth-child(5) .v_icon-bg{
    background-color: var(--violet);
    border-radius: 10rem;
}   

.v_icon img{
    width:6.4rem;
    height: 6.4rem;
}



.value_tit{
    font-size:2.1rem;
    font-weight:700;
}
.v_icon p{
    color:#717171;
    font-size:1.9rem;
}
.vision03--wrap{
    position: relative;
}

.v-tit-02{
    color: #fff;
    border-radius: 10rem;
    background-color: #16408D;
    border:0;
    z-index: 2;
}
.vision03_card-box-wrap{
    display: flex;
    gap:2.4rem;
    margin-top:7rem;
    justify-content: center;
}

.vision-card-box img{
    margin-top:6rem;
}
.v_card_tit{
    color:#222;
    font-size: 1.9rem;
    font-weight:700;
    margin:2.4rem 0  1.6rem 0 ;
}
.v_card_info{
    color:#555;
    font-size: 1.7rem;
    margin-bottom: 4rem;
}
.vision03--wrap--bg{
    width: 100%;
    height:50rem;
    background: #F8F8F8;
    position: absolute;
    left: -20rem;
    z-index: 0;
    top: 4rem;
    padding: 0 20rem;
}

.vision-card-box {
    position: relative;
    margin-bottom: 4rem;
    padding: 2rem;
    border-radius: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index:1;

}
.vision-card-box-wrap{
    width:34.2rem;
    background-image: url(../images/main-page/main-card-box.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

.vision-card-box .dot{
    position: absolute;
    top: -3%;
    left: 50%;
    transform: translateX(-50%);
    width: 2.4rem;
    height: 2.4rem;
    background-color: #002366;
    border-radius: 50%;
    z-index: 1;
}
.vision-card-box .dot2{
    position: absolute;
    content: '';
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 4.8rem;
    height: 4.8rem;
    background-color: #CDD7E4;
    border-radius: 50%;
    z-index: 0;
}
.vision-dot-box-wrap{
    position: absolute;
    top: 14.5rem;
    z-index: 2;
    left: 1rem;
}
.vision-dot-box-wrap .vision-card-box {
    position: relative;
    width:30rem;
    border-radius: 1.2rem;
    margin-bottom: 0rem;
    background-color: transparent;
    padding: 2rem;
    border-radius: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:none;
}
.vision-dot-box-wrap .vision03_card-box-wrap{
    margin-top:0;
}
.vision-dot-box-wrap.v_dot02--wrap {
    z-index: 1;
}

/* ========================================================
 * 연혁
======================================================== */
.sub-text-box-wrap h5{
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}
.sub-text-box-wrap p{
    font-size: 1.9rem;
    margin-bottom: 8rem;
}
.history--wrap{
    display: flex;
    justify-content: center;
}
.history-img-wrap{
    display: flex;
    flex-direction: column;
    gap:12.4rem;
}
.history-img-wrap img{
    width: 46.4rem;
    height: 25.2rem;
    margin-top:3rem;
}
.h-text-box-wrap .h_tit{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
}
.h-text-box-wrap .h_tit::before{
    content: '';
    width: 1rem;
    height: 1rem;
    background: #16408D;
    border: 3px solid #fff;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin-top: 2rem;
}
.h-text-box-wrap .h_info-wrap .h_sub_tit{
    font-size: 2.5rem;
    font-weight: 700;
    color:#222;
}
.h-text-box-wrap .h_info-wrap p{
    color: #8E8E8E;
    font-size: 1.9rem;
}
.h-text-box-wrap .h_info-wrap strong{
    color:var(--primary);
    font-weight: 600;
    margin-right: 0.4rem;
    font-size:1.9rem;
}
.h_info-wrap{
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
}
.history-contents{
    display: flex;;
    gap:14.6rem;
}
.h_sub_tit:before {
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    background: #D9D9D9;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top:3rem;
}

.line-guide {
    position: absolute;
    width: 1px;
    height: 188rem;
    top: 98rem;
    left: 50%;
    transform: translateX(-50%);
    background: #e5e5e5;
}
/* ========================================================
 * 조직 및 기능
======================================================== */
.orgchart{
    background: #f6f6f6;
    border:1px solid #d9d9d9;
    width: 100%;
    padding-top:6rem;
    padding-bottom: 4rem;
    margin-bottom: 8rem;
}
.org--wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.orgchart--01{
    width:26rem;
    height:26rem;
    background: #fff;
    border: 1px dashed #2A5C96;
    border-radius: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orgchart--01 p{
    color: #fff;
    font-size:2.5rem;
    font-weight: 700;
    width: 20rem;
    height: 20rem;
    border-radius: 15rem;
    background-color: #16408D;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.org02--box--wrap{
    display: flex;
    gap:35rem
}
.org02--box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.org_tit{
    width: 30.7rem;
    height:6.4rem;
    background-color: #1D56BC;
    border-radius: 0 4rem;
    color:#fff;
    font-size:2.2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
.org_sub_text-wrap{
    width:30.7rem;
    padding: 3rem;
    background: #fff;
    border-radius: 1.2rem;
    border:2px solid #c6c6c6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2.4rem;
}
.org_sub_text-wrap li{
    text-align: center;
    width: 24.7rem;
    border-radius: 1.2rem;
    border: 1px solid #D9D9D9;
    background: #EDF1F5;
    padding:1.6rem 0;
    font-size:2.1rem;
}
.org-line-1{
    width: 2px;
    height:6rem;
    background-color: #c6c6c6;
}
.org-line-2{
    height: 2px;
    width: 72.25rem;
    background-color: #c6c6c6;
}
.org-line-3{
    width: 2px;
    height:3rem;
    background-color: #c6c6c6;
}
.org-line-4{
    width: 2px;
    height:2.4rem;
    background-color: #c6c6c6;
}

.t-sub_tit{
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}
/* ========================================================
 * 찾아오시는 길
======================================================== */
.sub-address-wrap p{
    font-size:2rem;
}
.sub-address-wrap .ads-tit{
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}
.sub-address-wrap{
    display: flex;
    justify-content:space-between;
    margin-bottom: 3.2rem;
    align-items:flex-end;
}
.route-search-btn{
    width:16rem;
    background-color:var(--primary--70);
    border-radius: .8rem;
    color: #fff;
    font-size: 1.9rem;
    font-weight: 700;
}

.table-type1.sub-table2{
    margin-top:6rem;
    border-top: 2px solid #222;
}
.table-type1.sub-table2 th, .table-type1.sub-table2 td{
    text-align: left;
}
.table-type1.sub-table2 col:nth-child(1) {
    width: 20.7rem;
  }
.table-type1.sub-table2 .tit{
    color:var(--primary--70);
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.table-type1.sub-table2 .tit:nth-of-type(3){
    margin-top: 4rem;
}
.table-type1.sub-table2 .tit:nth-of-type(6){
    margin-top: 4rem;
}
.table-type1.sub-table2 td{
    padding:4rem 1.6rem;
}
.table-type1.sub-table2 th p{
    font-size:2.1rem;
    font-weight: 700;
}
.table-type1.sub-table2 th div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:.8rem;
}
.table-type1.sub-table2 td li {
    font-size: 1.9rem;
}
.table-type1.sub-table2 td li strong{
    color: var(--primary);
    margin-right:.4rem;
}
.sub-address-wrap2{
    width: 100%;
    height:50rem;
}

/* ========================================================
 * 스마트 농업기계 교육관
======================================================== */

.tap-con-text-tit{
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 4rem;
}
.tap-con-text-tit::before{
    content:"";
    display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	width: 2.4rem;
	height: 2.4rem;
    background:url(../images/main-page/bullet03.svg);
}

.ui-tour .tour-box{
    display: flex;
    width: 100%;
    border-collapse: collapse;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-bottom: 6rem;
}


.tour-box .item {
    border: 1px solid #d1d1d1;
    border-left: 0;
    border-right: 0;
    width: calc(50% - 2.4rem);
}
.tour-box .item .inner{
    display: flex;
    gap:4rem;
    padding:3.2rem 0 ;
    align-items: center;
}


.sm-con-img-box{
   width: 100%;
   height: auto;
   margin-bottom: 4rem;
}
.sm-con-img-box img{
    width:100%;
}
.ui-tour .ico-box{
    padding:1.6rem;
    border-radius: .8rem;
    background: #F7F5F3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ui-tour .ico-box .ir-icon__line
{   width: 3.2rem;
    height: 3.2rem;
}
.ir-icon__line.sm-edu-icon01{
    background-image: url(../images/main-page/i_sm-edu-01.svg);
}
.ir-icon__line.sm-edu-icon02{
    background-image: url(../images/main-page/i_sm-edu-02.svg);
}
.ir-icon__line.sm-edu-icon03{
    background-image: url(../images/main-page/i_sm-edu-03.svg);
}
.ir-icon__line.sm-edu-icon04{
    background-image: url(../images/main-page/i_sm-edu-04.svg);
}

.ui-tour__summary .h-box{
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.ui-tour__summary .ui-text{
    word-break: keep-all;
}
.ui-tour__summary .ui-text strong{
    font-weight: 700;
    color:var(--primary);
}
/* ========================================================
 * 스마트농업기계 교육관 - 견학예약
======================================================== */
.m-info-box{
    width:100%;
    background-color: #EdF1F5;
    border: 1px solid #e4e4e4;
    border-radius: 1.2rem;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 6rem;
}
.m-info-box .m-info-tit{
    display: flex;
    align-items: center;
    gap:.4rem;
    color:#002366;
    font-weight: 700;
    margin-bottom: 1.6rem;
}
.m-info-box .m-info-tit p{
    color:#002366;
    font-weight: 700;
}

.m-info-box .m-info-tit::before{
    content: "";
    width: 2rem;
    height: 2rem;
    background: url(../images/main-page/bullet_info.svg) no-repeat;

}
.sm-edu-status{
    margin-bottom: .8rem;
}
.sm-edu-status li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding:0 .8rem;
    border-radius: .4rem;
    font-size: 1.5rem;
    box-sizing: border-box;
}
.sm-edu-status .sm-edu-st-01{
    border: 1px solid var(--primary);
    background-color: #fff;
    color: var(--primary);
}
.sm-edu-status .sm-edu-st-02{
    border: none;
    background-color: var(--primary);
    color: #fff;
}
.sm-edu-status .sm-edu-st-03, .sm-edu-status .sm-edu-st-04{
    border: 1px solid #828282;
    background-color:#f0f0f0;
    color:#555;
}

.sm-edu-status .sm-edu-st-05{
    border: 1px solid #fed0B5;
    background-color: #FFF0E7;
    color:#FB6107;
}
.m-info-box p strong{
    color: #b9131e;
    font-weight: 400;
}
.m-tb-tit{
    padding:3.7rem 0 2.4rem 2.4rem;
    display: flex;
}
.m-tb-tit, .m-tb-tit p {
    font-size: 1.9rem;
    font-weight: 700;
}
.m-tb-tit > p + p::before {
    margin: 0 .3rem;
    content: ".";
}

.table-type1.sub-table1.right th,.table-type1.sub-table1.right td{
    text-align: center;
}
.datepicker-input.xsm{
    height: 3.2rem;
    padding: 0 .8rem;
    border-radius: .4rem;
    font-size: 1.4rem;
}

.sm-edu-reservation .table-type2.sub-table1 td{
    padding:1.6rem;
}
.sm-edu-reservation .table-type2 tbody th{
    text-align: left;
    width:20%;
    background-color: #f8f8f8;
}
.sm-edu-reservation .wop7,.sm-edu-reservation .wop10, .sm-edu-reservation .wop15{
    width:30%;
}
.sm-edu-reservation .wop2{
    width:20%;
}
.sm-edu-reservation .form-control:placeholder-shown{
    display: inline-block;
}
.sm-edu-reservation .wop9, .sm-edu-reservation .wop12{
    width:15%;
}

.sm-edu-reservation .wop9, .sm-edu-reservation .wop15, .sm-edu-reservation .wop12{
margin-right:.4rem}
.sm-edu-reservation .hop2{
    height: 12rem;
    padding-top:.8rem;
}
.sm-edu-reservation .noti{
    font-size: 1.5rem;
    color: #555;
}
.sm-edu-reservation .form-control{
    font-size: 1.4rem;
}
/*개인정보취급방침 동의*/
.con_agree_c1 {
    height: 20rem;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 2rem 2rem 3rem 2rem;
    border-radius: .8rem;
    margin-bottom: 4rem;
}
.con_private {
    overflow: hidden;
    font-size: 15px;
    font-weight: normal;
}
.con_private .txt1.mop1{
    margin-top:2rem;
}
.con_private .txt1 {
    margin: 1rem 0 0 0;
    font-size: 1.5rem;
    font-weight: normal;
    word-break: keep-all;
    transition: all 0.3s ease;
}
.con_private h3{
    margin-top: 3rem;
}
.con_private h3.fop4 {
    font-size: 1.6rem;
}
.con_private ul.list {
    margin: 1.5rem 0 0 1rem;
}
.con_private ul.list3.mop1 {
    margin: 1rem 0 0 1rem;
}
.con_private ul.list3{
    margin: 1.5rem 0 0 1rem;
}
.con_private ul.list li {
    background: url(../images/main-page/dot_09.png) no-repeat 0 .9rem;
    padding-left: 1.2rem;
    color: #666666;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: -0.03em;
    margin: 0 0 .5rem 0;
    word-break: keep-all;
    transition: all 0.3s ease;
}
.con_private ul.list3 li {
    color: #666666;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0 0 .5rem 0;
    word-break: keep-all;
    transition: all 0.3s ease;
}
.con_private h3.mop1 {
    margin: 0;
    font-weight: 700;
}
.con_private h3 {
    margin-top: 3rem;
    font-size: 1.8rem;
    font-weight: normal;
}
.sm-edu-reservation .form-check input[type=checkbox] ~ label:after {
    position: absolute;
    top: 0;
    left: 0;
}
.sm-edu-reservation .chk-area{
    padding:1.6rem;
    background-color: #f4F5F6;
    border-radius:.8rem;
    margin-bottom: 4rem;
}
.sm-edu-reservation .sm-edu-apply{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sm-edu-btn-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4rem;
}
span.must {
    margin: 0 .4rem;
    color: #b9131E;
}
/* ========================================================
 * 캘린더
======================================================== */
.m-calendar{
    width: calc(50% - 2.4rem);
}
.m-calendar-wrap{
    display: flex;
    flex-wrap: wrap;
    gap:2.4rem;
    justify-content: space-between;
    border-bottom: 1px solid #828282;
    margin-bottom: 3.2rem;
}
.m-calendar-info{
    width: calc(50% - 2.4rem);
}
.datepicker-wrap{
    background-color: #fff;
    border-radius: .8rem;
}
.datepicker-wrap .datepicker-head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 2.4rem 0;

}
.datepicker-switch-wrap{
    display: flex;
    margin:0 6rem;
    font-size: 2.5rem;
    font-weight: 700;

}
.btn-cal-move {
    width: 4rem;
    height: 4rem;
    background: url(../images/main-page/carousel_left.svg) no-repeat center;
    &.next {
        transform: rotate(180deg);
    }
    .datepicker-wrap .datepicker-head .datepicker-switch-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        padding: 1.2rem;
    }
}
.datepicker-wrap .datepicker-head .datepicker-switch-wrap .btn-cal-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .8rem;
    text-align: center;
    transition: 0.4s ease-in-out;
}
.datepicker-tbl thead tr{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--primary--60);
    border-bottom: 1px solid var(--primary--60);
}
.datepicker-tbl thead tr th {
    width: calc(100%/7);
    padding: 1.6rem 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
.datepicker-tbl tbody tr td {
    width: calc(100%/7);
    aspect-ratio: 1 / 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.datepicker-tbl tbody tr td button:hover{
    width:4rem;
    height: 4rem;
    background-color: #D3E1FB;
    border-radius: 100%;
    transition: 0.2s all;
    color: var(--gary--60);
}
.datepicker-tbl tbody tr td button:active{
    background-color: var(--primary);
    color:#fff;
    width:4rem;
    height: 4rem;
    border-radius: 100%;
    transition: 0.2s all;
}
.datepicker-tbl tbody tr td button.active{
    background-color: var(--primary);
    color:#fff;
    width:4rem;
    height: 4rem;
    border-radius: 100%;
    transition: 0.2s all;
}
.datepicker-tbl tbody tr .old, .datepicker-tbl tbody tr .new{
    color: var(--gary--40) !important;
    font-weight: 400;
}
.datepicker-switch-wrap > button + button::before {
    margin: 0 .3rem;
    content: ".";
}

.fc-sun {
    color: #B9131E;
  }
  
.fc-sat {
    color: #1D56BC;
  }
  
.datepicker-tbl tbody tr td button.sm-edu-st-01{
    background-color: #fff;
    color: var(--primary);
    border: 1px solid var(--primary);
}
.datepicker-tbl tbody tr td button.sm-edu-st-02{
    border: none;
    background-color: var(--primary);
    color: #fff;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    transition: 0.2s all;
}
.datepicker-tbl tbody tr td button.sm-edu-st-03,
.datepicker-tbl tbody tr td button.sm-edu-st-04{
    border: 1px solid #828282;
    background-color:#f0f0f0;
    color:#555;    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    transition: 0.2s all;

}

.datepicker-tbl tbody tr td button.sm-edu-st-05{
    border: 1px solid #fed0B5;
    background-color: #FFF0E7;
    color:#FB6107;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    transition: 0.2s all;
}
td.old .btn-set-date,
td.new .btn-set-date,
td .btn-set-date.fc-sun,
td .btn-set-date.fc-sat {
    pointer-events: none; 
    cursor: default; 
}

td.old .btn-set-date:hover,
td.new .btn-set-date:hover,
td .btn-set-date.fc-sun :hover,
td .btn-set-date.fc-sat:hover {
    background-color: transparent;
}
/* ========================================================
 * 교육안내 - 교육운영방향
======================================================== */
.edu-info-box{
    width: calc(50% - 1.4rem);
    border-radius: 1.2rem;
    border: 1px solid #c6c6c6;
    background-color: #fff;
    height: 62rem;
}
.edu-info-box img{
    width: 100%;
    border-radius: 1.2rem 1.2rem 0 0;

}
.edu-info-con{
    padding: 4rem;

}
.edu-info-con-tit{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    word-break: keep-all;
}
.edu-info-con ul li::before{
    content: '';
    width: .4rem;
    height: .4rem;
    border-radius: 100%;
    background-color: #222;
    margin:0 .8rem .4rem 0;
    word-break: keep-all;
    display: inline-block;
}
.sub-edu-info-box-wrap{
    display: flex;
    flex-wrap: wrap;
    gap:2.4rem;
    justify-content: space-between;
}
/* ========================================================
 * 교육안내 - 교육분류체계
======================================================== */
.sub-edu-info-tbl tbody tr td{
    border-right:1px solid #cecece;
}
.sub-edu-info-tbl tbody tr td:last-child {
    border-right: none;
}


/* ========================================================
 * 알림마당 - 공지사항
======================================================== */
.tab-conts-wrap .con_search3 .m-search-wrap{
    background: #F4F5F6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.2rem;
    padding: 3.2rem 0;
    gap: .8rem;
    margin-bottom: 6rem;
}
.m-search.form-control{
    padding:0 1.6rem;
    width: 12rem;
    display: flex;
    align-items: center;
}
.m-search.form-control.input{
    max-width: 50rem;;
    width: 100%;
    padding:.8rem 1.6rem;
    position: relative;
    background-color: #fff;
    background-image: url(../images/main-page/i_serach2.svg);
    background-repeat: no-repeat;
    background-position: center right 1.6rem;
    background-size: 2.4rem;
    opacity: 1;

}
.m-search.form-control.input input{
    width: 90%;
    position: relative;

}





.table-type1.sub-table1.tbl-center thead tr th,
.table-type1.sub-table1.tbl-center tbody tr th,
.table-type1.sub-table1.tbl-center tbody tr td{
    text-align: center;
}
.sub-list-tbl{
    margin-bottom: 6rem;
}
.m-list-table-tit{
    margin-bottom:1.6rem ;
}
.m-list-table-tit strong{
    font-weight:500;
    font-size: 1.5rem;
    color: var(--primary);
    margin-right:.4rem;

}

.sub-list-tbl .sub-tbl-td-l{
    text-align: left !important;    
    width: 54rem;
    overflow: hidden;
    font-weight: 500;

    }
.sub-list-tbl .sub-tbl-td-l a{
    white-space: nowrap;   
    overflow: hidden;       
    text-overflow: ellipsis;
    width: 54rem;
    display: inline-block;
}

.sub-list-tbl .hovered-row {
    background-color: #F8F8F8; 
}



/*페이지네이션*/
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: .8rem;
    width: 100%;
    margin-top: 4rem;
}
.pagination .page-navi {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #555;
    min-width: 6.2rem;
    height: 4rem;
}
.pagination .page-navi.prev {
    order: 1;
    padding: 0 .8rem 0 .4rem;
}
.pagination .page-navi:hover {
    border-radius: 0.6rem;
    background-color: #EDF1F5;
    transition: 0.4s ease-in-out;
}
.pagination .page-navi.prev::before {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    content: "";
    width: 2rem;
    height: 2rem;
    background-image: url(https://uiux.egovframe.go.kr/resources/img/component/common/ico_page_arr_left.svg);
    background-repeat: no-repeat;
}
.pagination .page-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    order: 2;
    gap: .8rem;
}
.pagination .page-links .page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #555555;
    min-width: 4rem;
    height: 4rem;
}
.pagination .page-links .page-link.link-dot {
    background-image: url(https://uiux.egovframe.go.kr/resources/img/component/common/ico_page_dot.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.pagination .page-navi.next {
    order: 3;
    padding: 0 0.4rem 0 0.8rem;
}
.pagination .page-navi.next::after {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    content: "";
    width: 2rem;
    height: 2rem;
    background-image: url(https://uiux.egovframe.go.kr/resources/img/component/common/ico_page_arr_right.svg);
    background-repeat: no-repeat;
}
.pagination .page-links .page-link:hover {
    border-radius: 0.6rem;
    background-color: #EdF1F5;
    transition: 0.4s ease-in-out;
}
.pagination .page-links .page-link.active {
    font-weight: 700;
    color: #fff;
    border-radius: 6px;
    background-color: #003675;
}

.con_paging{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: .8rem;
  width: 100%;
  margin-top: 4rem;
}
.con_paging .page-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  order: 2;
  gap: .8rem;
}
.con_paging .page-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #555555;
  min-width: 4rem;
  height: 4rem;
}

.con_paging .page-navi.prev {
  order: 1;
  padding: 0 .8rem 0 .4rem;
}
.con_paging .page-navi {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #555;
  min-width: 6.2rem;
  height: 4rem;
}
.con_paging .page-navi.prev::before {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  content: "";
  width: 2rem;
  height: 2rem;
  background-image: url(https://uiux.egovframe.go.kr/resources/img/component/common/ico_page_arr_left.svg);
  background-repeat: no-repeat;
}

.con_paging .page-links a.on {
  font-weight: 700;
  color: #fff;
  border-radius: 6px;
  background-color: #003675;
}
.con_paging .page-navi.next {
  order: 3;
  padding: 0 0.4rem 0 0.8rem;
}

.con_paging .page-navi.next::after {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  content: "";
  width: 2rem;
  height: 2rem;
  background-image: url(https://uiux.egovframe.go.kr/resources/img/component/common/ico_page_arr_right.svg);
  background-repeat: no-repeat;
}

.con_paging .page-links .link-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:.4rem

}
.con_paging .page-links .link-dot div{
  content: '';
  width: .3rem;;
  height: .3rem;
  border-radius: 100%;
  background-color: #555;
}

.con_paging .page-links .page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #555555;
  min-width: 4rem;
  height: 4rem;
}

.con_paging .page-links a:hover {
  border-radius: 0.6rem;
  background-color: #EdF1F5;
  transition: 0.4s ease-in-out;
}
.con_paging .page-navi:hover {
  border-radius: 0.6rem;
  background-color: #EDF1F5;
  transition: 0.4s ease-in-out;
}
/* ========================================================
 * 정보공개 - 정보공개제도
======================================================== */
.table-type1.sub-table1 a.download {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: url(../images/main-page/i_file2.svg) no-repeat 0 0;
  text-indent: -10000px;
}
.sub-table1 td i {
  display: none;
}
.sub-board-list .sub-board-list-con .tap-con-text-tit {
  margin-bottom: 1.2rem;

}
.sub-board-list .sub-board-list-con .tap-con-info-text p {
  margin-left:2.4rem;
  word-break: keep-all;
  color:var(--gary--60);
  margin-bottom: 3.2rem;
}
.sub-board-list .sub-board-list-con .tap-con-info-text.info-tit-mg-b-1 p{
  margin-bottom: 1.2rem;
}

.sub-board-list-con .tap-con-info-list{
  margin-bottom: 3.2rem;
}
.sub-board-list-con .tap-con-info-list .sub-board-list-01{
  margin-left:4rem;
}
.sub-board-list-con .tap-con-info-list .sub-board-list-01 > li {
  margin-bottom: .8rem;
}
.sub-board-list-con .tap-con-info-list .sub-board-list-01 li{
  font-size: 1.7rem;
  font-weight: 600;
  list-style-type: disc;
}
.sub-board-list-con .tap-con-info-list .sub-board-list-01 li ul li{
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--gary--60);
  list-style-type: none;
  word-break: keep-all;

}
.sub-board-list-con .tap-con-info-list .sub-board-list-01 li ul li strong{
  font-size: 1.5rem;
  color:var(--primary);
}
.sub-board-list-con .tap-con-info-list .sub-board-list-02 li ul li strong{
  font-size: 1.5rem;
  color:var(--primary);
}
.sub-board-list-con .tap-con-info-list .sub-board-list-02{
  margin-left:4rem;
}
.sub-board-list-con .tap-con-info-list .sub-board-list-02 > li {
  margin-bottom: .8rem;
}
.sub-board-list-con .tap-con-info-list .sub-board-list-02 li{
  font-size: 1.5rem;
  list-style-type: disc;
  color: var(--gary--60);
}
.sub-board-list-con .table-type1.sub-table1 .fop2{
  color: var(--primary);
  font-weight: 600;
  font-size: 1.5rem;
}
.sub-board-list-con .sub-table1 tbody tr th,
.sub-board-list-con .sub-table1 tbody tr td{
  word-break: keep-all;
  padding:1.2rem 1.6rem;
  text-align: center;
}
.sub-board-list-con .table-type1.sub-table1 th, 
.sub-board-list-con .table-type1.sub-table1 td{
  word-break: keep-all;
  text-align: center;
}


.tbl-bor-r thead tr th:not(:last-child),
.tbl-bor-r tbody td:not(:last-child) {
  border-right: 1px solid #cecece;
}
.m-info-box.m-info-01.long .m-info-text{
  gap:.8rem;
  align-items: flex-start;
}
.m-info-box.m-info-01.long .m-info-text::before{
  margin-top:.4rem;
}
.sub-board-list-con .sub-table1.tbl-t-a-l tbody td:not(:first-child){
  text-align: left;

}

/* ========================================================
 * 정보공개 - 사전정보공개
======================================================== */
.sub-board-list-con .table-type1.sub-table1 tbody td a{
  text-decoration: underline;
  color: var(--primary);
  font-size: 1.5rem;

}

/* ========================================================
 * 게시판관련
======================================================== */
.sub-board-list .tap-con-text-tit{
    font-size: 2rem;
}
.sub-board-list .tap-con-text-tit::before{
    background-image: url(../images/main-page/bullet04.svg);
    width:2rem;
    height: 2rem;
}
.sub-board-list-con .tap-con-info-list .sub-board-list-01 > li{
    margin-bottom: 2rem;
}

/* ========================================================
 * 정보공개 - 자료이용 및 저작권 보호
======================================================== */
.private-list-wrap{
    margin-bottom: 2rem;

}
.private-list-wrap li p{
    font-weight: 700;
    word-break: keep-all;
    margin-bottom: 1.2rem;
    font-size: 1.9rem;
}
.private-list-wrap li ul li{
    font-size: 1.7rem;
    color: var(--gary--60);
    word-break: keep-all;
    margin-left: 1.2rem;
    margin-bottom: 1.2rem;
}
.private-list-wrap li ul li strong{
    color: var(--gray--70);
    font-weight: 500;
}

.private-list-wrap li ul li ul li{
    color: var(--gary--60);
    word-break: keep-all;
    margin-top:.8rem;
    margin-left: 1.2rem;
    margin-bottom: .8rem;
}
.private-list-wrap .private-list-info-list{
    margin-left:1.6rem;
    margin-top: 1.2rem;
}
.private-tbl-info{
    color: var(--gary--60);
    margin-bottom: .8rem;
}



/* ========================================================
 * 열린마당 - 포토갤러리
======================================================== */

.con_imglist {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
  justify-content: space-between;
}
.con_imglist_c {
  width: 34.2rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  height: 28.8rem;
}
.con_imglist_c .con1 {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.con_imglist_c .con1 a.imgs {
  display: block;
  width: 100%;
  height: 20rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-indent: -10000px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  border-radius: .8rem;
}
.con_imglist_c .con2 {
  overflow: hidden;
  padding-top:1.6rem ;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:7.6rem;
  gap:1.2rem;
}
.con_imglist_c .con2 a.tit {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.7rem;
  font-weight: 700;
  max-height: 4.8rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.con_imglist_c .con2 ul {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.con_imglist_c .con2 ul li.cnts {
  display: none;
  /* content: "";  
  font-size: 1.5rem;
  color: #555; */
}
/* .con_imglist_c .con2 ul li.cnts::before{
  content: "조회수 : ";
  display: inline-block;
  margin-right: .4rem;
} */
.con_imglist_c .con2 ul li.dt {
font-size: 1.5rem;
text-align: right;
color:#555

}

.con_imglist_nodata {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #16408D;
  border-bottom: 1px solid #cecece;
  padding: 30px 0 30px 0;
  color: #555;
  text-align: center;
  letter-spacing: -0.03em;
  transition: all 0.3s ease-in-out;
}



/* ========================================================
 * 게시판 - 게시판 상세뷰
======================================================== */
.con_view{

}
.con_view_head h3{
  display: none;
}
.con_view_head{
  border-top: 1px solid #0E2B5E;
  border-bottom: 1px solid #d9d9d9;
  padding:4rem;
  display: flex;
  gap: 4rem;
  flex-direction: column;
}

.con_view_head h1{
  font-size: 2.5rem;
  font-weight: 700;
}
.con_view_head ul{
  display:flex;
  gap:1.2rem;
}
.con_view_head ul li{
  font-size: 1.9rem;
  color: var(--gary--60);
}
.con_view_head ul li span{
  font-size:1.9rem;
  font-weight: 500;
  margin-right: .4rem;
}
.con_view_file{
  padding:3.2rem;
  display: flex;
  flex-direction: column;
  gap:1.6rem;
  border-bottom: 1px solid #d9d9d9;
}
.con_view_file .con1{
  font-size: 1.9rem;
  font-weight: 500;
}
.con_view_file .fop1{
  font-size: 1.9rem;
  font-weight: 500;
  color: var(--primary);
}
.con_view_file ul li{
  width:100%;
  padding: 1.2rem ;
  border-radius: .6rem;
  background-color: #EFF5FF;

}
.con_view_file ul li a::before{
  content:'';
  display: inline-flex;
  width:1.6rem;
  height:1.6rem;
  background-image: url(../images/main-page/i_file2.svg);
}
.con_view_content{
  padding:4rem;
  border-bottom: 1px solid #d9d9d9;
  transition: all 0.3s ease;
  color: #222;
  font-size: 1.7rem;
}

.con_btn_center{
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;

}
.con_btn_center .btn.primary{
  padding:0 4rem;
}
 

/*디스클로저*/

.conts-expand-area .btn-conts-expand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
    border-radius: 0;
}
.krds-disclosure .btn-conts-expand {
    height: 4rem;
}

.krds-disclosure .btn-conts-expand::before {
    display: inline-flex;
    content: "";
    width: 2rem;
    height: 2rem;
    margin-right:.4rem;
    background-image: url(../images/main-page/i_arr_func01.svg);
    background-size: contain;
    transition: 0.4s ease-in-out;
    transform: rotate(0);
    background-repeat: no-repeat;
    background-position: center;
}
.conts-expand-area .expand-wrap {
    position: relative;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    display: none;
}
.krds-disclosure .expand-wrap .expand-in {
    padding: 2.4rem;
    background-color: #F8F8F8;
    border-radius: 1.2rem;
}
.list-bullet {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2.4rem;
}
.list-bullet > li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0.4rem;
    color: #555;
}

.krds-disclosure.active .btn-conts-expand::before {
    transform: rotate(-90deg);
}
  .conts-expand-area.active .expand-wrap {
    display: block;
}
  
/* ========================================================
 * 통합검색
======================================================== */

  .m-search-wrap.int-search-p {
    background: #F4F5F6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.2rem;
    padding: 3.2rem 0;
    gap: .8rem;
    margin-bottom: 6rem;
 }

 




 /* ========================================================
 * 이용안내
======================================================== */
.m-info-box.mg-bt-24{
    margin-bottom: 2.4rem;
}
.mg-bt-24{
    margin-bottom:2.4rem;
}
.mg-bt-12{
    margin-bottom:1.2rem;
}